@model IEnumerable<HomeHub.DataModel.ApplicationUser>

@{
    ViewData["Title"] = "AdminHome";

}


<h1>All Users</h1>
@if (Model.Count() < 1)
{ 

    <div class="alert alert-info">
        No User Records Found
    </div>

}
else
{

    <table class="table">
    <thead>
    <tr>
            <td>
                @Html.DisplayNameFor(model => model.Id)
            </td>
        <td>
            @Html.DisplayNameFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Firstname)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Lastname)
        </td>
            <td>
                Actions
            </td>

        @* <td> *@
        @*     @foreach (var userRole in item.UserRole) *@
        @*     { *@
        @*         <p>@Html.DisplayFor(model => userRole.Role.Name)&nbsp;</p> *@
        @*     } *@
        @* </td> *@
    </tr>
</thead>
<tbody>
@foreach (var item in Model) { 
<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
<td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
                <td>
                    <form method="post" asp-action="DeleteUser" asp-controller="Admin">
                        <input type="hidden" name="Id" value="@item.Id" >
                       <input type="submit" class="btn btn-danger" value="Delete" >
                    </form>
                </td>
</tr>
}
</tbody>
</table>

}

@* } *@
@* else *@
@* { *@
@*     <div class="card"> *@
@*         <div class="card-header"> *@
@*             No Users Added Yet *@
@*         </div> *@
@*     </div> *@
@* } *@

@* <div class="container-fluid py-5 header-section"> *@
@*     <h1>Welcome to HomeHub!</h1> *@
@* </div> *@

@* @foreach (var item in ViewBag.Users) *@
@* {  *@
@*     @item.ToString() *@
    

@* } *@


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
