@model IEnumerable<HomeHub.App.Models.ProviderOrderVM>

<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Schedule</th>
            <th>Order Date</th>
            <th>Ordered Items</th>
            <th>Quantity</th>
            <th>Fee</th>
            <th>Total Discount</th>
            <th>Discount</th>
            <th>Promo Code</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.ClientId</td>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>@order.Schedule.ToShortDateString()</td>
                <td>@order.OrderedPs</td>
                <td>@order.Quantity</td>
                <td>₱@order.Fee.ToString("N2")</td>
                <td>
                    @if (order.DiscountAmount > 0)
                    {
                        <span style="color: red;">- ₱@order.DiscountAmount.ToString("N2")</span>
                    }
                    else
                    {
                        <span style="color: black;">₱@order.DiscountAmount.ToString("N2")</span>
                    }
                </td>
                <td>
                    @if (order.DiscountPercentage > 0)
                    {
                        <span style="color: red;">-@((int)order.DiscountPercentage)%</span>
                    }
                    else
                    {
                        <span>0%</span>
                    }
                </td>

                <td>
                        @order.PromoCode
                </td>
                <td> <!--Pakicheck tong mga nasa baba-->
                    @if (order.Status == "Accepted")
                    {
                        <span class="text-success">Accepted</span>
                    }
                    else
                    {
                        <span class="text-warning">Pending</span>
                    }
                </td>
                <td>
                    @if (order.Status == "Pending")  
                    {
                        <form asp-action="AcceptOrder" asp-route-clientId="@order.ClientId" method="post">
                            <button type="submit" class="btn btn-sm btn-primary">Accept</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

