@model IEnumerable<HomeHub.App.Models.OrdersLogVM>

<h2>Orders Log</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<div class="mb-3">
    <a asp-action="ReviewedCustomers" class="btn btn-info">View My Reviews</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td hidden>@log.LogId</td> 
                <td>@log.OrderId</td>
                <td>@log.OrderDate.ToShortDateString()</td>
                <td>@log.FirstName</td>
                <td>@log.LastName</td>
                <td hidden>@log.BusinessId</td>
                <td>@log.Item</td>
                <td>@log.Qty</td>
                <td>@log.Date.ToShortDateString()</td>
                <td>@log.Status</td>
                <td>
                    <a asp-action="CustomerReview" asp-route-LogId="@log.LogId" class="btn btn-primary">
                        Review Customer
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
