@model RefundViewModel

@{
    ViewBag.Title = "Initiate Refund";
}

<h2>Initiate Refund</h2>

@using (Html.BeginForm("Refund", "Customer", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.ClientID)
        @Html.TextBoxFor(m => m.ClientID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BusinessID)
        @Html.TextBoxFor(m => m.BusinessID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OrderDate)
        @Html.TextBoxFor(m => m.OrderDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserID)
        @Html.TextBoxFor(m => m.UserID, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Request Refund</button>
}

