@model OrderAvailViewModel

    <h3>Order Confirmed</h3>

    <p>Your order has been successfully placed. Here are the details:</p>

    <table>
        <thead>
            <th>Quantity</th>
            <th>Price</th>
            <th>Order</th>
            <th>Date of Delivery</th>
            <th>Time of Delivery</th>
            <th>Request</th>
            <th>Promo Code</th>
            <th>Discount</th>
            <th>Total Price</th>
            <!--<th>User ID</th>-->
            </thead>
        <tbody>
            <tr>
                <td>@Model.qty</td>
                <td>@Model.price</td>
                <td>@Model.chosen</td>
                <td>@Model.ddeliv</td>
                <td>@Model.tdeliv</td>
                <td>@Model.requestatt</td>
                <td>@Model.promo</td>
                <td>@Model.discount</td>
                <td>@Model.totalPrice.ToString("F2")</td>
                <!--<td>@Model.userID</td>-->
            </tr>
        </tbody>
    </table>

    <a class="nav-link" asp-action="Index"><button>Back To Home</button></a>
