@model ClientOrder

<style>
    .html {
        font-family: Arial
    }

    .card {
        background-color: #203B81;
        color: #F1F1F1;
        border-radius: 30px;
        width: 300;
        height: 400px;
        padding-top: 42px;
        padding-left: 55px;
        padding-right: 55px;
        margin-top: 20px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Rate Your Order</h1>
</div>

<div class="card">
    <form asp-controller="Customer" asp-action="SubmitRating">
        <input type="hidden" name="clientId" value="@Model.ClientId" />
        <input type="hidden" name="businessId" value="@Model.BusinessId" />


        <!--Provider Name -->
        <h1>@ViewBag.BusinessName</h1>

        <!--Order Details -->
        <h3>Order Summary</h3>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.OrderedPs</td>
                    <td>@Model.Quantity</td>
                    <td>@Model.OrderDate</td>
                    <td>@Model.Schedule</td>
                    <td>@Model.Fee</td>
            </tbody>
        </table>

        <label for="score">Rating</label>
        <select id="score" name="score" class="form-control">
            <option value="1">&#9733; 1 Star</option>
            <option value="2">&#9733;&#9733; 2 Stars</option>
            <option value="3">&#9733;&#9733;&#9733; 3 Stars</option>
            <option value="4">&#9733;&#9733;&#9733;&#9733; 4 Stars</option>
            <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733; 5 Stars</option>
         </select>

         <label>Comments</label>
         <input type="text" name="Comments" id="comments" class="form-control"/>

         <!--Date-->
         <input type="hidden" id="date" name="date" value="" />

        <input type="submit" value="Submit Rating" />
    </form>
</div>
