@model ClientOrder

<style>
    .html {
        font-family: Arial
    }

    .card {
        background-color: #203B81;
        color: #F1F1F1;
        border-radius: 30px;
        width: 300;
        height: 400px;
        padding-top: 42px;
        padding-left: 55px;
        padding-right: 55px;
        margin-top: 20px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Report a Problem</h1>
</div>

<div class="card">
    <form asp-controller="Customer" asp-action="SubmitReport">
        <input type="hidden" name="clientId" value="@Model.ClientId" />


        <!--Provider Name -->
        <h1>@ViewBag.BusinessName</h1>

        <!--Order Details -->
        <h3>Order Summary</h3>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.OrderedPs</td>
                    <td>@Model.Quantity</td>
                    <td>@Model.OrderDate</td>
                    <td>@Model.Schedule</td>
                    <td>@Model.Fee</td>
            </tbody>
        </table>

        <label for="title">Title</label>
        <input type="text" id="title" name="title" class="form-control" placeholder="What is the problem you have encountered?" />

        <label>Description</label>
        <input type="text" id="description" name="description" class="form-control" placeholder="Give a short description of the problem" />

        <input type="submit" value="Submit Report" />
    </form>
</div>
